.row
  .col-md-12
    = form_for @note, html: { class: 'bs-component' } do |f|
      - if @note.errors.any?
        .alert.alert-dismissible.alert-danger
          = button_tag 'x', class: 'close', data: {dismiss: 'alert'}
          = "#{pluralize(@note.errors.count, "error")} prohibited this note from being saved:"
          %ul
            - @note.errors.full_messages.each do |msg|
              %li= msg

      .row
        .col-md-6
          .form-group.is-empty
            %label.control-label Body
            #editor
            %span.material-input
        .col-md-6
          .form-group
            %label.control-label Preview
            #preview
      .form-group
        = f.submit 'Save', class: 'btn btn-primary'
:javascript
  Editor(#{@note.to_json});
  window.Markdown = Preview(#{@note.to_json});
