.row
  .col-xs-12
    .page-header
      %h1
        Note List
        - if logged_in?
          %span
            = link_to 'New Note', new_note_path, class: 'btn btn-primary'
    .row
      .col-xs-12
        .list-group
          - @notes.each do |note|
            .list-group-item
              .row-action-primary
                %i.material-icons label
              .row-content
                %h2.list-group-item-heading
                  = link_to note.created_at.in_time_zone('Tokyo').strftime('%D %H:%M:%S'), note
                - if logged_in?
                  %p
                    = link_to 'Edit', edit_note_path(note)
                    |
                    = link_to 'Destroy', note, :method => :delete, :data => { :confirm => 'Are you sure?' }
            .list-group-separator
.text-center
  = paginate @notes
