.row
  .col-xs-12
    .page-header
      %h1
        TENQMEMO
        - if logged_in?
          %span
            = link_to 'New Note', new_note_path, class: 'btn btn-primary'
    .row
      .col-xs-12
        .list-group
          - @notes.each do |note|
            .list-group-item
              .row-action-primary.align-top
                %i.material-icons label
              .row-content
                %h2.list-group-item-heading
                  = link_to note.created_at.in_time_zone('Tokyo').strftime('%D %R'), note
                  .pull-right
                    - if logged_in?
                      = link_to edit_note_path(note) do
                        %i.material-icons mode_edit
                      = link_to note, method: :delete, data: { confirm: 'Are you sure?' } do
                        %i.material-icons delete
                %p.list-group-item-text
                  = truncate note.body, length: 80
                %p.tags
                  - note.tags.each do |tag|
                    %span.label.label-default.normal-font= tag.name
            .list-group-separator
.text-center
  = paginate @notes
