.row
  .col-md-12
    .page-header
      %h1= @note.created_at.in_time_zone('Tokyo').strftime('%D %R')
    .row.well
      .col-md-12
        %p
          - @note.tags.each do |tag|
            = link_to tag.name, notes_path(tag: tag.name), class: 'label label-default normal-font'
        = render 'note', note: @note.body

    - if logged_in?
      .row
        .col-md-3
          = link_to 'Edit', edit_note_path(@note)
          |
          = link_to 'Back', notes_path
