%p#notice= notice

%h1= @note.created_at.in_time_zone('Tokyo').strftime('%D %H:%M:%S')
%p= md2html emojify(@note.body)

- if logged_in?
  = link_to 'Edit', edit_note_path(@note)
  \|
= link_to 'Back', notes_path
