!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title Tenqmemo
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = render 'google_tag_manager'
  %body
    .container
      -# = render 'layouts/header'
      %main
        = yield
      = render 'layouts/footer'
